
/* variables */
:root{
  --dark: #222222;
  --light: white;
  --accent: #83769c;
}

/* page-level elements */
body{
  background-color:#26212f;
}
body > header{
  background-color:transparent;
}
.header-content{
  padding-top:0;
  padding-bottom:0;
}
main{
  height:100vh;
  width:100vw;
  padding:50px;
  /* max-width:800px; */
}
main > section:not(:last-child){
  margin-right:20px;
}


/* custom selectors */
.login-container,
nav{
  position:absolute;
  top:0;
  right:42px;
  background-color:var(--accent);
}

/* sections */
.col-content:not(:first-child){
  margin-left:80px;
}
.logo-container{
  background-image:url("/img/wasted-space_logo_trans.png");
  height:250px;
  max-width:600px;
  max-height:150px;
}
h1{
  margin-bottom:10px;
}
#links{
  /* padding-top:50px; */
}
#links a{
  background-color:transparent;
  display:block;
  margin-bottom:0;
  padding:10px;
  margin-left:-10px;
  text-decoration:none;
  color:inherit;
}
#links a:hover{
  background-color:var(--accent);
}

/* responsive styles */
@media only screen and (max-width: 800px){
  .section-content[data-au*="container"]{
    flex-wrap:wrap;
  }
  .section-content[data-au*="container"] [data-au*="flex-width"]{
    flex:none;
    width:100%;
    margin-left:0;
    margin-right:0;
  }
  .section-content[data-au*="container"] [data-au*="flex-width"]:first-child{
    margin-bottom:40px;
  }
}


/* ================================== */
/* hero section */
#hero-section{
  background-image:url("/img/wasted-space_bg.gif");
  /* background-size: cover; */
  background-repeat:repeat;
  /* position:relative; */
}
#hero-section:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#26212f;
  opacity:.9;
}
#hero-section .section-content{
  z-index:1
}
/* ================================== */


/* ================================== */
/* merch button section */
#merch-section{
  min-height:auto;
}
.merch-banner{
  /* background-image:url("/img/wasted-space_logo_bg_anim.gif"); */
  background-image:url("/img/wasted-space_logo_trans_anim.gif");
  background-repeat:repeat;
  height:95px;
}
/* ================================== */


/* ================================== */
/* newsletter section */
#newsletter-section{
  min-height:auto;
  padding-bottom:60px;
}
.wasted-space-shooting-anim{
  background-image:url('/img/wasted-space_ship-shooting_trans_anim.gif');
  width:100%;
  height:150px;
}
.newsletter-container{
  max-width:500px;
  position:relative;
}
.newsletter-form{
  /* margin-left:50px; */
  margin-top:50px;
}

.form-row{
  margin-bottom:20px;
}
.form-row label{
  margin-right:10px;
}
.force-one-line{
  display:inline-block;
}
/* ================================== */