/* css reset */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  background-size:contain;
  background-position:center;
	background-repeat:no-repeat;
	scroll-behavior: inherit;
  line-height:1.5;
  -webkit-tap-highlight-color: transparent;
}
/*  */

/* user highlight */
*::selection{
  color:#333333;
	background-color:white;
}
*::-moz-selection{
  color:#333333;
	background-color: white;
}

/* variables */
:root{
  /* fonts */
  --primary-font: 'Press Start 2P', sans-serif;
  --secondary-font: 'VT323', monospace;

  --dark: #222222;
  --light: white;
}

/* page-level elements */
html{
	scroll-behavior: smooth;
}
body{
  
  background-color:#26212f;
  color:white;
  font-family: var(--secondary-font);
  font-size:22px;
  line-height:1.3em;
  letter-spacing:1px;
  cursor: url("https://pixelplanettoday.com/img/ui/mini-default-cursor.png"), default;
}
main{
  height:100vh;
  width:100vw;
  padding:50px;
  /* max-width:800px; */
}
main > section:not(:last-child){
  margin-right:20px;
}
@media only screen and (max-width:800px){
  main{
    padding:20px;
  }
}

header{
  margin-bottom:50px;
}
h1, h2{
  font-family: var(--primary-font);
  text-transform: uppercase;
}
h1{
  
  font-size:30px;
  /* margin-bottom:50px; */
  line-height:1.5em;
  letter-spacing:2px;
}
h2{
  font-size:18px;
  /* margin-bottom:20px; */
  letter-spacing:1px;
}

/* custom selectors */

/* sections */
.logo-container{
  background-image:url("/img/wasted-space_ship.png");
  max-height:80px;
  transform:translate(0);
  /* animation:bounce 1s infinite; */
}
/* @keyframes bounce{
  0%{
    transform:translate(40px)
  }
  100%{
    transform:translate(0);
  }
} */

#links{
  padding-top:50px;
}
a{
  background-color:transparent;
  display:block;
  margin-bottom:0;
  padding:10px;
  margin-left:-10px;
  text-decoration:none;
  color:inherit;
}
a:hover{
  background-color:#83769c;
}